[submodule "src/rc_car/svo_pro/rpg_svo_pro_open"]
	path = src/rc_car/svo_pro/rpg_svo_pro_open
	url = https://github.com/sungminner/rpg_svo_pro_open
[submodule "src/rc_car/gtsam"]
	path = src/rc_car/gtsam
	url = https://github.com/sungminner/gtsam
	branch = EEE4610
[submodule "src/test/imu_to_odom"]
	path = src/test/imu_to_odom
	url = https://github.com/sungminner/imu_to_odom
[submodule "src/rc_car/WiringPi"]
	path = src/rc_car/WiringPi
	url = https://github.com/WiringPi/WiringPi
