<launch>

    <arg name="filename" default="rc.xacro" />
    <arg name="file" default="$(find rc_description)/description/$(arg filename)" />
    
    <!-- Use the file argument as the name of the file used to set the /robot_description parameter on the parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg file)" />

    <!-- Run the robot_state_publisher. -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

</launch>